HF_TOKEN=hf_you_token      # Put your Haggingface TOKEN here
NAMESPACE=rhaiis
HF_DIR=/model/hf
PVC_SIZE=40Gi
MODEL_ID="granite-3-1-8b-instruct-quantized-w8a8"
MODEL_PULL_URL="registry.redhat.io/rhelai1/granite-3-1-8b-instruct-quantized-w8a8:1.5"
RHIIS_IMAGE="registry.redhat.io/rhaiis/vllm-cuda-rhel9:3"