kind: Deployment
apiVersion: apps/v1
metadata:
  # annotations:
  name: granite
  namespace: ${NAMESPACE}
  labels:
    app: granite
    component: vllm-api
    app.kubernetes.io/part-of: 'VLLM-RHAIIS'
    app.openshift.io/runtime: python
spec:
  replicas: 1
  selector:
    matchLabels:
      app: granite
  template:
    metadata:
      labels:
        app: granite
    spec:
      restartPolicy: Always
      initContainers:
        - resources: {}
          terminationMessagePath: /dev/termination-log
          name: fetch-model
          command:
            - /bin/sh
            - '-c'
          env:
            - name: DOCKER_CONFIG
              value: /auth
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: model-volume
              mountPath: /model
            - name: oci-auth
              readOnly: true
              mountPath: /auth
          terminationMessagePolicy: File
          image: 'ghcr.io/oras-project/oras:v1.3.0'
          args:
            - |
              set -e
              HF_DIR=/model/hf

              if [ -z "$(ls -A $HF_DIR 2>/dev/null)" ]; then
                echo ""
                echo "Pulling ${MODEL_ID} OCI artifact ..."
                echo "model source is: ${MODEL_PULL_URL}"
                echo ""

                mkdir -p /model/tmp
                oras pull ${MODEL_PULL_URL} --output /model/tmp
                # oras copy ${MODEL_PULL_URL} --to-oci-layout /model/tmp

                echo ""
                echo "Listing pulled contents:"
                echo ""

                ls -R /model/tmp
                
                echo ""
                echo "Copying files into $HF_DIR..."
                echo ""

                mkdir -p $HF_DIR
                cp -r /model/tmp/* $HF_DIR
                
                echo ""
                echo "Contents in $HF_DIR after copy:"
                echo ""

                ls -R $HF_DIR

                echo ""
                df -h
                echo ""

              else
                echo ""
                echo "Model already present — skipping pull."
                echo ""
                ls -R $HF_DIR
              fi

      serviceAccountName: default
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      securityContext: {}
      containers:
        - resources:
            limits:
              cpu: '10'
              memory: 16Gi
              nvidia.com/gpu: '1'
            requests:
              cpu: '2'
              memory: 6Gi
              nvidia.com/gpu: '1'
          terminationMessagePath: /dev/termination-log
          name: granite
          command:
            - python
          env:
            - name: VLLM_SERVER_DEV_MODE
              value: '0'
          ports:
            - containerPort: 8000
              protocol: TCP
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: model-volume
              mountPath: /model
            - name: shm
              mountPath: /dev/shm
          terminationMessagePolicy: File
          envFrom:
            - secretRef:
                name: hf-secret
            - secretRef:
                name: docker-secret
          image: '${RHIIS_IMAGE}'
          args:
            - '-m'
            - vllm.entrypoints.openai.api_server
            - '--port=8000'
            - '--model=/model/hf'
            - '--served-model-name=${MODEL_ID}'
            - '--max-model-len=32768'
      serviceAccount: default
      volumes:
        - name: model-volume
          persistentVolumeClaim:
            claimName: model-cache
        - name: shm
          emptyDir:
            medium: Memory
            sizeLimit: 2Gi
        - name: oci-auth
          secret:
            secretName: docker-secret
            items:
              - key: .dockercfg
                path: config.json
            defaultMode: 420
      dnsPolicy: ClusterFirst
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600